{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ with .Content }}<div class="page-content">{{ . }}</div>{{ end }}
  <ul class="post-list">
    {{ range .Pages }}
    <li>
      <div class="post-list-link">
        <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .Params.categories }}
        <span class="cats">{{ range . }}<a class="cat" href="{{ printf "categories/%s/" (. | urlize) | relURL }}">{{ . }}</a>{{ end }}</span>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
{{ end }}
